<header class="header fixed-top clearfix">
  <!--logo start-->
  <div class="brand">

    <a href="index.html" class="logo">
      <!--<img src="images/logo.png" alt="">-->
    </a>
    <!--<div class="sidebar-toggle-box">-->
      <!--<div class="fa fa-bars"></div>-->
    <!--</div>-->
  </div>
  <!--logo end-->

  <div class="horizontal-menu navbar-collapse element" data-type="module_menu">
    <ul class="nav navbar-nav">
      <li *ngFor="let module of modules">
        <a [href]="module.url" [innerText]="module.name"></a>
      </li>
    </ul>
  </div>

  <!--<div class="top-nav clearfix">-->
    <!--&lt;!&ndash;search & user info start&ndash;&gt;-->
    <!--<ul class="nav pull-right top-menu">-->
      <!--<li>-->
        <!--<input type="text" class="form-control search" placeholder=" Search">-->
      <!--</li>-->
      <!--&lt;!&ndash; user login dropdown start&ndash;&gt;-->
      <!--<li class="dropdown">-->
        <!--<a data-toggle="dropdown" class="dropdown-toggle" href="#">-->
          <!--<img alt="" src="images/avatar1_small.jpg">-->
          <!--<span class="username">John Doe</span>-->
          <!--<b class="caret"></b>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu extended logout">-->
          <!--<li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>-->
          <!--<li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>-->
          <!--<li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--&lt;!&ndash; user login dropdown end &ndash;&gt;-->
      <!--<li>-->
        <!--<div class="toggle-right-box">-->
          <!--<div class="fa fa-bars"></div>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ul>-->
    <!--&lt;!&ndash;search & user info end&ndash;&gt;-->
  <!--</div>-->
</header>