<section class="panel">
  <header class="panel-heading"
    [innerText]="'translate'"></header>
  <div class="panel-body">
    <div class="btn-section clearfix">
      <div class="btn-group">
        <button class="btn btn-primary"
                [routerLink]="'add'"
                [innerText]="'Add'"></button>
      </div>
    </div>

    <app-message></app-message>
    <router-outlet></router-outlet>

    <div class="panel-body"
        *ngIf="listOfTranslate && listOfTranslate.length">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>key</th>
              <th>value</th>
              <th class="operation">Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let translate of listOfTranslate; let index = index">
              <td [innerText]="index+1"></td>
              <td [innerText]="translate.key"></td>
              <td [innerText]="translate.value"></td>
              <td>
                <a href="javascript:;"
                   (click)="remove(translate.id)"
                   [innerText]="'remove'"></a>
                <a href="javascript:;"
                   (click)="update(translate.id)"
                   [innerText]="'update'"></a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>


  </div>
</section>