<div class="container-fluid">

    <form [formGroup]="userForm" #form="ngForm" (ngSubmit)="onSubmit(userForm.value, userForm.valid)">
      <div class="row">
        <div class="form-group">
          <label for="firstName"
                 [innerText]="'firstName'"></label>
          <input
                  type="text"
                  placeholder="Your first name"
                  class="form-control"
                  #firstName
                  formControlName="firstName"
                  id="firstName"/>
          <div class="">
            {{ firstName?.errors }}
          </div>
          <div class="message-error" *ngIf="!firstName.value && form.submitted">Заповніть поле</div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="lastName"
                 [innerText]="'lastName'"></label>
          <input
                  class="form-control"
                  #lastName
                  type="text"
                  placeholder="Your last name"
                  formControlName="lastName"
                  id="lastName">
          <div class="message-error" *ngIf="!lastName.value && form.submitted">Заповніть поле</div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="middleName"
                 [innerText]="'middleName'"></label>
          <input class="form-control" #middleName formControlName="middleName" id="middleName">
          <div class="message-error" *ngIf="!middleName.value && form.submitted">Заповніть поле</div>
        </div>
      </div>

      <div class="row">
        <div class="button-group">
          <button type="submit"
                  class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
</div>