<div class="container-fluid">
  <form [formGroup]="translateForm" #form="ngForm" (ngSubmit)="onSubmit(translateForm)">
    <div class="row">
      <div class="form-group">
        <label for="key"
               [innerText]="'key'"></label>
        <input
                type="text"
                placeholder="key"
                class="form-control"
                #key
                formGroupName="key"
                id="key"/>
        <div class="">
          {{ key?.errors }}
        </div>
        <div class="message-error" *ngIf="!key.value && form.submitted">Заповніть поле</div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="value"
               [innerText]="'value'"></label>
        <input
                class="form-control"
                #value
                type="text"
                placeholder="Value"
                formGroupName="value"
                id="value">
        <div class="message-error" *ngIf="!value.value && form.submitted">Заповніть поле</div>
      </div>
    </div>

    <div class="row">
      <div class="button-group">
        <button type="submit"
                class="btn btn-success">Submit</button>
      </div>
    </div>
  </form>
</div>